#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  border: black solid 3px;
}

.btn:hover {
  color: #fff;
  background-color: black;
  border: #fff solid 3px;
  transition: 0.75s;
}

